* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Epilogue", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

main {
  background-color: #fdf0e9;
}

.container-style {
  padding: 0 4rem;
}

.logo-style {
  display: flex;
  align-items: center;
  height: 4.5rem;
  justify-content: center;
}

.logo-style h4 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}

.logo-style img {
  height: 4.5rem;
  width: 4.5rem;
  margin-right: 1.2rem;
  display: inline-block;
}

.nav-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  background-color: #28293e;
  color: #ffffff;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}



.nav-link-style,
.nav-link-style:active {
  text-decoration: none;
  color: #fff;
}

.nav-items-style {
  display: inline-block;
  margin: 0 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  padding: 10px 20px;
}

.contact-buttoon {
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
}

.menu-style {
  display: none;
}

.banner-heading {
  font-size: 7.2rem;
  line-height: 8rem;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 800;
  color: #fff;
}

.menu-style .fa-bars {
  font-size: 2.2rem;
  padding: 1rem;
  cursor: pointer;
}

.banner-style {
  text-align: center;
  padding: 8rem 0;
  background-color: #28293e;
}



.banner-txt {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.64);
  width: 40%;
  margin: 2rem auto;
}

.first-article {
  background-color: #fdf0e9;
  border: 1px solid #fdf0e9;
  display: grid;
  padding: 4rem;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.blog-article {
  font-weight: 800px;
  font-size: 72px;
  text-align: center;
  letter-spacing: -2px;
  margin-top: -20px;
}

/* .description {
  position: absolute;
  width: 500px;
  height: 66px;
  left: 523px;
  top: 300px;
  font-size: 16px;
  align-items: center;
  text-align: center;
} */


.article-title-text {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #391400;
}

.article-style img {
  width: 100%;
  height: 33.6rem;
}

.article-style {
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.2rem;
  margin: 1rem 0;
  color: #391400;
}



.article-date {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 3.2rem;
  color: rgba(57, 20, 0, 0.64);
}

.row-style {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 40px;
  margin: 4rem 0;
}



.title-article-style-card {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.2rem;

  color: #391400;
}

.article-card-style {
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.2rem;

  color: #391400;
}

.article-card-date {
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 3.2rem;

  color: rgba(57, 20, 0, 0.64);
}

.article-card img {
  height: 22.4rem;
  width: 37rem;
  border-radius: 6px;
}

.button-container {
  text-align: center;
}



.subscribe-part-style {
  display: flex;
  justify-content: space-between;
  margin: 3rem 4rem;
  align-items: center;
  border-top: 1px solid #f3d1bf;
  border-bottom: 1px solid #f3d1bf;
  padding: 3rem 0;
}

.subscribe-part-style h3 {
  font-size: 40px;
  font-weight: 800;
  color: #391400;
}

.load-btn-style {
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  border: 0px;
  height: 48px;
  width: 170px;
  margin: auto;
  margin-bottom: 80px;
  font-size: 14px;
  font-weight: 900;
}


.mail {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.mail input {
  background: #ffffff;
  border: 1px solid #f3d1bf;
  box-sizing: border-box;
  border-radius: 6px;
  width: 370px;
  height: 48px;
  padding-left: 10px;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
}

.mail button {
  height: 48px;
  width: 170px;
  background: #ffffff;
  box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  border-radius: 6px;
  border: 0px;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #391400;
}

.contact-part {
  margin: 4rem;
  background-color: #ef6d58;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}



.contact-txt {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3.2rem;

  color: rgba(255, 255, 255, 0.64);
  margin: 1rem 0;
}

.contact-part img {
  padding: 0.5rem;
}

.agency-part {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

.agency-part h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}

.agency-part h5 {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  color: #ef6d58;
}

.details-part {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}

.fa-fb {
  color: #ef6d58;
  height: 48px;
  width: 48px;
}

.fa-twitter {
  color: #ef6d58;
  height: 48px;
  width: 48px;
}

.fa-insta {
  color: #ef6d58;
  height: 48px;
  width: 48px;
}

.second-footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 68px;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-around;
  color: #391400;
}

.contact-title-style {
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 6.4rem;

  letter-spacing: -1px;

  color: #ffffff;
  width: 65%;
}

.footer-style {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #fdf0e9;
  border-top: 1px solid #f3d1bf;
}

.copyright-text-style {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 3.2rem;

  color: rgba(57, 20, 0, 0.64);
}


.sidebar.active {
  transition: all 0.3s ease-in;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  background-color: black;
  -o-transition: all 0.5s ease-in;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  align-items: center;
  font-size: 3rem;
}

.sidebar {
  width: 100%;
  background-color: black;
  color: #fff;
  position: absolute;
  top: 0;
  transform: translateX(-10000px);
  height: 60vh;
  -webkit-transform: translateX(-10000px);
  -moz-transform: translateX(-10000px);
  -ms-transform: translateX(-10000px);
  -o-transform: translateX(-10000px);
}



.cross-button .fa-times {
  font-size: 3rem;
  padding: 2rem;
  cursor: pointer;
}

.cross-button {
  text-align: right;
}


/* media part start */

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .navbar-container,
  .contact-buttoon {
    display: none;
  }

  .menu-style {
    display: inline-block;
  }

  .contact-title-style {
    font-size: 40px;
    line-height: 48px;
    width: 100%;
  }

  .mail input {
    width: 100%;
    display: block;
  }

  .mail button {
    display: block;
    width: 100%;
  }

  .first-article {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 1rem;
  }

  .banner-heading {
    font-weight: 800;
    font-size: 5.6rem;
    line-height: 6.4rem;
  }

  .article-title-text {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .row-style {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .banner-txt {
    font-size: 1.6rem;
    line-height: 3.2rem;
    width: 80%;
  }


  .subscribe-part-style {
    flex-direction: column;
  }

  .subscribe-part-style h3 {
    font-size: 40px;
    line-height: 48px;
    margin: 1rem 0;
  }

  .agency-part {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 2rem;
  }

  .footer-style {
    flex-direction: column;
  }

  .copyright-text-style {
    text-align: center;
    padding: 2rem;
  }

  .article-card img {
    width: 100%;
  }

  .mail {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .contact-part {
    flex-direction: column-reverse;
  }

  .contact-part img {
    width: 100%;
  }

  .title-article-style-card {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: bold;
  }

  .contact-part {
    margin: 3rem 1rem;
  }

}